

body {
    background-color: #efeee7;
    font: "Georgia", Times New Roman, Times, serif;
    color: #333333;
    margin: 0px 20px 0px 20px;
    padding: 0px 0px 0px 0px;
}

header {
    background-color: #333333;
    text-align: center;
    padding: 5px 0px 5px 0px;
}

h1 {
    color: #eee;
    font-size: 28px; 
}

h2 {
    font-size: 24px;
    /* position: absolute; */
}

.container {
    margin: 0 auto;
}

#main-bio {
    float: left;
    width: 70%;
}

#bio-image {
    float: left;
    width: 200px;
    margin: 10px;
    /* position: relative; */
}

#contact-info {
    float: left;
    width: 30%;
    link: #d21034;
    line-height: 1.5em;
}
